{% load static %}
<div id="nakrheading3">
    <div class="container" id="contact">
        <h1>VOTRE CONTACT</h1>
        <div class="row">
            <div class="col-lg-2">
                <center>
                    <img class="img-responsive" src="{% static 'consulting/img/rnk_resized.jpg' %}" alt="Image">
                </center>
            </div>
            <div class="col-lg-6">
                <h2>RACHIDA NAÏT KAOUDJT</h2>
                <h4>Conseil scientifique santé</h4>
                <p>
                    Docteur en biologie moléculaire & biochimie</br>
                    20 ans d’expérience professionnelle dans le domaine de la santé
                </p>
            </div>
            <div class="col-lg-4 dark">
            <center>
                <p>
                <br>
                    Catalyseur de vos projets santé<br>
                    Créatrice de la marque MatépiWill Fondatrice de l’association EN +<br>
                    Vivre ses émotions face au Cancer<br>
                    Co-Fondatrice de l’association <!--<a href="http://www.rselib.org" target="_blank">-->RSE Lib<!--</a>--><br>
                    L’association des acteurs de la Responsabilité sociétale<br>
                </p>
            </center>
            </div>
        </div><div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-6">
                <hr>
                <p>
                    <b>Rachida Naït Kaoudjt concilie rigueur scientifique et créativité pour dynamiser vos projets.</b>
                    <ul>
                        <li>Capte pour vous les tendances, les nouveaux points de vues, les dernières attentes …les recherches porteuses d’espoir ou d’avancées</li>
                        <li>Crée des concepts simples à mettre en oeuvre</li> 
                        <li>Collabore avec des chercheurs impliqués dans le soin et le care</li>
                        <li>S’implique fortement dans des « ateliers de travail patients » en recherche clinique en oncologie</li>
                    </ul>
                    <br><b>Votre contact privilégié pour partager vos ambitions et attentes</b></br>
                </p>
                <p>
                    <b>Créatrice de la marque MatépiWill®,</b> elle s’est inspirée de son quotidien secoué par la maladie et de besoins non satisfaits pour concevoir des outils ludiques pensés et désignés pour se fondre dans le quotidien des familles en situation de fragilité.
                        
                </p>
            </div>
            <div class="col-lg-4">
            </div>
        </div>
    </div>
</div>
