{% load static %}
<div id="nakrheading2">
    <div class="container marketing" id="nos_domaines">
        <h1>NOS DOMAINES D'INTERVENTION</h1>
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-6">
                <center>
                    <img class="img-responsive" src="{% static 'consulting/img/rond_1.png' %}" width="100px" height="100px" alt="Image">
                </center>
                <!--$this->Html->image('rond_1.png', array('class' => 'img-rounded', '')); -->
                <h2>PREVENTION SANTE</h2>
                <p>
                    <b>Faire passer de l’intention à l’action !</b>
                    <br>
                    <br>NAKR & CO élabore des stratégies et conçoit des contenus inspirants qui engagent vos publics.<br>
                    <ul>
                        <li>Elaborer vos stratégies de prévention, globales ou ciblées, sur des populations et/ou territoires à identifier.</li>
                        <li>Concevoir vos actions de prévention de santé.</li>
                        <li>Définir et mettre en œuvre vos campagnes et plans de prévention.</li>
                    </ul>
                </p>
            </div>
            <div class="col-lg-6">
                <center>
                <img class="img-responsive" src="{% static 'consulting/img/rond_2.png' %}" width="100px" height="100px" alt="Image">
                </center>
                <h2>SOCIETAL SANTE</h2>
                <p><b>Adopter une conscience sociétale !</b>
                <br>
                <br>
                NAKR & CO vous aide à rendre concret votre contribution à l’Objectif de Développement Durable N°3 « santé et bien être ».<br>
                NAKR & CO vous guide dans l’évolution de la réglementation pour en faire une opportunité d’engagement en faveur de la santé.<br>
                <ul>
                    <li>Evaluer votre Déclaration Performance Extra- Financière.</li>
                    <li>Proposer les leviers d’amélioration en santé et bien être.</li>
                    <li>Proposer des actions de prévention.</li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>