<!-- Modal -->
<div class="modal fade" id="mentions-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Mentions légales</h4>
            </div>
            <div class="modal-body">
                    <b>Société</b> NAKR & CO : S.A.S au capital social de 6.000 euros - Immatriculée au RCS de Nanterre <br/>
                    <b>Siège social : </b>28 rue Troyon, 92 310 Sèvres<br/>
                    <b>SIRET :</b> 802 639 039 00014 - CODE APE  - 7022Z<br/><br/>
                        
                    <b>Responsable éditoriale :</b> NAKR & CO<br/>
                    <b>Conception graphique :</b> LA SUITE & C0<br/>
                    <!--
                    <b>Développement :</b> MAT & WILL<br/>
                    -->
                    <b>Hébergement :</b> GANDI<br/><br/>
                        
                    <h4>Propriété et reproduction</h4>
                    <p>
                    nakr.fr, site Internet de la société NAKR & CO, a pour objectif de fournir des informations générales de ses prestations.<br/>
                    La structure générale, ainsi que les logiciels, textes, images animées ou non, son, la technologie, le savoir faire, et tout autres éléments composant ce site Internet sont la propriété exclusive de NAKR & CO.
                    Toute reproduction totale ou partielle de ce site, par quelque procédé que ce soit, sans l'autorisation expresse de NAKR & CO, est interdite et constituerait une contrefa&ccedil;on sanctionnée par les articles L335-2 et suivants du Code de la propriété intellectuelle. <br/>
                    </p>
                            
                    <h4>Données personnelles</h4>
                    <p>
                    En conformité avec les dispositions de la loi du 6 janvier 1978 modifiée relative à l'informatique, aux fichiers et aux libertés, le traitement automatisé des données nominatives réalisées à partir du site Internet "nakr.fr" a fait l'objet d'une déclaration auprès de la <b>C</b>ommission <b>N</b>ationale de l'<b>I</b>nformatique et des <b>L</b>ibertés (CNIL).<br/>
                            
                    L'utilisateur dispose d'un droit d'accès, de modification, de rectification et de suppression des données qui le concernent (article 38 et suivants de la loi 'Informatique et Libertés'). Pour l'exercer, l'utilisateur peut s'adresser à NAKR & CO - 28 rue Troyon, 92 310 Sèvres ou  envoyer un courrier électronique : webmaster@nakr.fr<br/>
                        
                    Les utilisateurs visiteurs de nakr.fr ne peuvent mettre en place un hyperlien en direction de ce site sans l'autorisation expresse et préalable de NAKR & CO.
                    </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                <!--
                <button type="button" class="btn btn-primary">Save changes</button>
                -->
            </div>
        </div>
    </div>
</div>