<div id="nakrnavbar">
    <nav class="navbar navbar-nakr navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#pulsante">NAKR LA PULSANTE</a></li>
                    <li class="active"><a href="#metiers">NOS METIERS</a></li>
                    <li><a href="#nos_domaines">NOS DOMAINES D'INTERVENTION</a></li>
                    <li><a href="#contact">VOTRE CONTACT</a></li>
                    <li><a href="#references">REFERENCES</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>