{% load static %}
<div id="nakrheading6">
    <div class="container marketing" id="pulsante">
        <h1>NAKR & CO La PULSANTE</h1>
        <h2>Une collaboration innovante</h2>
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <p>
                Une rencontre humaine qui pousse à faire encore mieux avec vous et pour vous.<br>
                Qui apporte créativité et connaissances scientifiques nécessaires au développement de projets pertinents dédiés à vos publics.</br>
                Au service de vos stratégies et contenus inspirants dans le domaine de la santé.<br>
            </p>
        </div>
    </div>
</div>