{% load static %}
<div id="nakrheading3">
    <div class="container" id="references">
        <h1>REFRENCES</h1>
        <div class="row">
            <div class="col-lg-4">
                <img class="img-responsive" src="{% static 'consulting/img/logo_mma-fondation.png' %}" alt="Image">
            </div>
            <div class="col-lg-4">
                <img class="img-responsive" src="{% static 'consulting/img/logo_curie.png' %}" alt="Image">
            </div>
            <div class="col-lg-4">
                <img class="img-responsive" src="{% static 'consulting/img/logo_uneo.png' %}" alt="Image">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <img class="img-responsive" src="{% static 'consulting/img/logo_diversidees.png' %}" alt="Image">
            </div>
            <div class="col-lg-4">
                <img class="img-responsive" src="{% static 'consulting/img/logo_rexel.png' %}" alt="Image">
            </div>
            <div class="col-lg-4">
                <img class="img-responsive" src="{% static 'consulting/img/logo_by-agency.png' %}" alt="Image">
            </div>
        </div>
    </div>
</div><!-- portfolio section -->