{% load static %}
<div id="nakrheading1">
    <div class="container" id="metiers">
        <h1>NOTRE METIER</h1>
        <h2>Catalyseur de vos projets Santé</h1>
    </div>
</div>
<div id="nakrtext1">
    <div id="container">
        <center>
        </br>
        <img class="img-responsive" src="{% static 'consulting/img/homme_escalier_resized.jpg' %}" alt="Image">
        </br>
        <h4>ACCOMPAGNEMENT ET STRATEGIE DE DEVELOPPEMENT</h4>
        <p>
            Etablir les bonnes conditions de gouvernance</br>
            Anticiper les aspects règlementaires, sociaux et environnementaux</br>
            Identifier des pistes de diversification et intégrer des nouveaux produits ou services</br>
            Concevoir votre stratégie d'innovation et construire votre plan d'actions</br>
            Formaliser votre projet de développement et hiérarchiser les options</br>
        </p>
        <img class="img-responsive" src="{% static 'consulting/img/homme_libre_resized.jpg' %}" alt="Image">
        </br>
        <h4>CONSEIL ET PILOTAGE DE PROJET</h4>
        <p>
            Capitaliser sur les réalisations</br>
            Animer les instances de décision et d'arbitrage</br>
            Sensibiliser et mobiliser autour du projet</br>
            Anticiper et analyser les risques inhérents au projet</br>
            Valoriser et communiquer les résultats</br>
            </ul>
        </p>
        </br>
        </br>
        <img class="img-responsive" src="{% static 'consulting/img/homme_ensemble_resized.jpg' %}" alt="Image">
        </br>
        <h4>DéVELOPPEMENT ET ANIMATION DE PARTENARIATS</h4>
        <p>
            Identifier et formuler la relation de partenariats</br>
            Elargir les horizons par des approches inédites et proactives</br>
            Définir des plans et objectifs de coopérations robustes</br>
            Maximiser vos ressources financières, techniques et humaines</br>
        </p>
        </br>
        <img class="img-responsive" src="{% static 'consulting/img/homme_loupe_resized.jpg' %}" alt="Image">
        </br>
        <h4>EVALUATION ET MESURES</h4>
        <p>
            Concevoir le plan d'évaluation et conduire la mission d'évaluation</br>
            Equilibrer l'évaluation quantitative et qualitative (études, enquêtes et observatoire)</br>
            Mesurer les effets et apprécier les impacts du projet</br>
            Evaluer dans la concertation</br>
            Rendre compte et capitaliser sur les performances</br>
        </p>
        </br>
        </center>
    </div>
</div>