{% load static %}
<div id="nakrheading5">
    <div class="container">
        <h3>SUIVEZ-NOUS SUR...</h3>
            <p>
                <center>
                    <a href="https://www.linkedin.com/in/rachidanaitkaoudjt"><img class="img-rounded" src="{% static 'consulting/img/linkedin.png' %}" alt="Image" width="70px" height="70px" target="_blank"></a>
                    <a href="https://twitter.com/NAKRandCO"><img class="img-rounded" src="{% static 'consulting/img/twitter.png' %}" alt="Image" width="70px" height="70px" target="_blank"></a>
                </center>
            </p>
            <!--
            <p>
                <center>
                    - Membre fondateur de <a href="http://www.rselib.org" target="_blank">rselib.org</a> -
                </center>
            </p>
            -->
    </div>
</div>