
@font-face {
  font-family: 'NexaBold';
  src: url('NexaBold.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NexaBold';
  src:  url('NexaBold.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAET8AA8AAAAAgUQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAABE4AAAABoA
AAAcXsSv6UdERUYAADYAAAAAHgAAACABFgAER1BPUwAANkAAAA6fAAArkA0cCXdHU1VCAAA2IAAA
ACAAAAAgbJF0j09TLzIAAAHMAAAAUwAAAGBnmA1yY21hcAAABKwAAAG3AAACEs+N2qBnYXNwAAA1
+AAAAAgAAAAI//8AA2dseWYAAAg4AAAqGAAARSCSGnrVaGVhZAAAAVgAAAA0AAAANgfAt7JoaGVh
AAABjAAAACAAAAAkBmsD8GhtdHgAAAIgAAACiwAAA6Tv7RH4bG9jYQAABmQAAAHUAAAB1J+XsWZt
YXhwAAABrAAAAB4AAAAgATIASW5hbWUAADJQAAACLwAABMWhPrMXcG9zdAAANIAAAAF2AAACAuER
IFZ42mNgZGBgYGRwnMUr+yye3+YrAzfzC6AIw6XJVsIw+n/kvzMsisyzgOo4GJhAogBK3QvWeNpj
YGRgYHr3n42BgaX9f+T/ShZFBqAICngJAIz7BmF42mNgZGBgeMngxsDOAAJMQMzIABJzAPMZACJD
AXwAAHjaY2BivMy0h4GVgYVpD1MXAwNDD4RmvMtgxPCLgYGJAQYaGBjWOzAweMH4bk5BzgwKDAq/
mZje/WdjYGCexWgCFGYEyTG+YtoLpBQYmAAUmA9xAHjabZNPSFRhFMXPvW+aNP+OTobiaKaTL01y
BiSZxIqMyJpKCUwXERkEFpgLhVpE0MJNNYLZLlokRLgrgv4Q5qZQKpFSiApKhAwZC6mFpvN13stA
xIEz37uPe7+593fuYATuR6L84rNsQ408wB4dQ7qVjBLLi6iOoxoTqJAWBKQVqdJk/sh7ZGAe5TKC
YswhKK/ML32MAunAOo0hqDeQovdQqJ0o0VsIaAR+xn69iwDivMvD2qvIlgH45TpK9TzyrGco17j5
rgOo0JusGYStF7BDGxHSD9ionxAWIKyv+Bzju4MIWacZD2OX5UOW9jNORyZ/I6x9SNazSNJvzPsJ
8exlX0PI0ad8X48kqUZIhjnHPuYchchX8xtxM6+tSNMO2PKZ/bfBpweQJb2czUaG7oeNafb/xcTU
QhBTsK0r7PEI561lLutYk0l+tswgTWImoU2cKWISVg8K1A+PhsySDCNZGrFJwqiX48zxmkXZjRot
JqtObNcAexhlTgjHtAWlYjjXbZyQO7AkTv5kz/iUVGK9jJNfOwqlG378MIt6CFusOqRgEj65jCLJ
R5V0IUNemyVdop9lVBRb2ZfPZb2GrB4z4/I/R/b/RR8E5p3Dn+cLalA/ksvUP/arJc9R5nri8F8p
zuX4pF2odVmvIWuMczn8yX6lMGsWMUsPZs0o9VYPY7M2L7NfLS+y3bOF/FeK/DmL7ZzOXdpg5jBl
pj0bUGE9Yg33xvHO3ZOdZl4mGD8xQ3IfOdJHbzuQh5dIkQiZXkQldzdfHiJVi7iT7UjHODViElhA
rlyCV9pMQnqRqw3cvWvc+zMo1gkEPd2ISh29PIkc9JtmreIdk9yZN8yrpo8Rs4Dl/+Zf6FzaDwB4
2mNgYGBmgGAZBkYgycDIA+QxgvksDB+AtAWDApAlAWTVMaxhWMfwn9GQ0YkxmDGRsYKxjnES03Gm
u8x7FEQUpBTkFJQU1BQMFKwUXBTWKCopCf1m+v8fZCbQhIVAnRuAOh0ZgxgTgDprgTqPMd0A6hRW
kFCQUVAA67SE62QE6fz/+P/B/wf+7//f97/+f8H/lP9+/73+m/9j+fvlz44H+x/sebD7wa4H2x+s
e7DswdwHZvcP3rvE+gTiC/IAIxsDXDsjE5BgQlcADCoWVjZ2Dk4ubh5ePn4BQSFhEVExcQlJKWkZ
WTl5BUUlZRVVNXUNTS1tHV09fQNDI2MTUzNzC0sraxtbO3sHRydnF1c3dw9PL28fXz//gMCg4JDQ
sPCIyKjomNi4+IREhuaWto4JU2cvmL9w8aIly1YsX7lqzeq16zZs2rh565adO3btvpWfnJJxp3Re
Xtbj4kyG1ukMBQwMaSVg12VXMizdXpeUy3CSgSGn6i5DfdOUQ4cvXb5+48rVbQz7jj18dP/B02e3
y67dvNfY2dDV3tPb1z1pMsPEmbNm7D91geHM2XPlF8+fBgAuZZ9fAAAAAAAAAAAAAAAAFgAqAFoA
pADyATgBRgFgAXoBmAGsAcABzgHgAe4CJAI2AmoCrALGAvIDMgNEA44DzgPoBAYEGgQuBEIEfgTc
BPgFKAVSBXoFkgWmBdQF7AX4BhQGMgZCBl4GdgaqBtAHCgcyB3IHhAeiB7gH2Af4CBIIKgg8CEoI
WghuCHoIigi6COgJCgk2CWQJhAnCCeIJ+gogCjgKRgp2CpQKtgrgCwwLKAtkC4YLpgu8C9wL+AwQ
DCYMVgxkDJgMugzQDP4NLg1iDYgNnA4CDiAOXA6QDqoOug7+DyAPPA9mD54Prg/OD+wP/BAeEDIQ
XhB4EKYQ5BE2EXgRnBHAEegSHhJQEoISphLoEwgTKBNME3oTjhOiE7oT3hQIFDoUdhSyFPIVPhWI
FaIV6hYSFjoWZhacFr4W4hccF1QXjBfIGBAYVhicGPQZMhloGZ4Z2BocGjIaSBpgGoQawhr8GyYb
UhuAG7wb9hwaHFQcfBykHNAdBh0mHVAdfh2KHaQdvB3uHjYegh7KHvofHh9AH24fgh+WH7IfxB/i
IAYgJiA8IEggVCBiIHAghCCYIKwgziDkIQIhFiE+IawhvCHMIdwiFCI6IkYibCKQIpAikHjalXwH
YFvV1fA799mSnTiOFa3YjocsS/KQ5FjTU94jtuOVeMQjju0sxzs7zrYdZzl7QSjQQFklZZa2kABp
gdCkrB8oXykBmp+StowABQqU+Ok79z7JK6P9nOjJtt4959xzzz7nmSNcGlfIXSJnOJ7z5zi5VaaV
2BwqhaRoYCCwvLycnBm5dmpxbOziGI4jXCY8Ai3kGbxXKt5LX5nd3U/09JBnhG8gQPiGo/cF4qWf
nOVCuQh6n9TqxJdSy15aJ3vZrfSlxt9dGdJ16nfoCpcklK3QDGm6NDs0JSvM87oub7FsIWePHz++
+ldrduLXml+vaj+P4Dngot37yQlez1nxB6kZtFESpSKcqMPxTSJVau1mMDjDwWpx2G0Gs4/d5nDa
rUoV6euQt9jy6oLtZoPekm+yhsn3tG6t2xu1VrEqs6j1MVvOvNmaoZatt5F8S6TRlDgzUu7n6+sX
pNDEpukWrZEubvKrKrUkpDic5UpJwKy4gtn1SwNqatSUJl9urvsH8gC5wE3jZLhrA5fAcTMs4SSQ
RJmJC3RW0HJjP6qiJAqVxWHjPO+H6/KjZbLofPENXtsn2PbDbyf88lCaVpumFZrZG7mgdebkOLXs
qh7JBtu4n5NjE2NjE+Ece2PnkeT+jpwkL3NTOPwZKLdUyJx0sNJvlFEGiTbSgEwyg93mQraFE6XW
pkeuqvFjjRLyc+ZUpSe0bo6IbA9OGxY+hbTZRsv81TmJ1SWmzcWp+TlQmwCFYEmJtlkTE5Ys1cQP
NLR8YKoKCpxnym+NVRjLHabYdF2CcTmenQke5X7C5I1JkKm7m5xhYoOfhbl3Qh4v5QLwB3UgKBVq
KaXJAX7p82p+nt27ZgMvrcx+ruOjoQVFX+/o/5KuCcA1NnGNHA+dSoABz10fkL5yw5rezAdryFOV
JV/27/i6qH7wo47nKB73j3AHZJBXqJyC1CA1OA1OtcEqdaqloCtOSy3JXjirwbdpSkvIIngrqaYm
qVTeqF24SNcoR3zTuf3wGInhplL6UaxQplHitNOPbDh2bMMROHLsWPfx43hfvPsu7mnOSbXKqUCJ
1+M+VE+b8uQJBQW2gD2tfub4KB3ep4VAOApbGD/sGqUWeiGwp0fkh47L4J7CF2qbw+awoFpG6UwO
k8kRlqvX5+rZXr5xPwK/JQJdDyhkkLVNeGIrEa49huceDkYyCIeQZi1CRx0BiwvSwWaGqECQ4mGT
cD4MFIG8mZyylTaU2thlwF7dtbqr2u55g0NL0hfExCxIX5JWG2NYcGpJSV9xLMQUbyxegq8YiC3u
o7T64qUadR73i2yRoXLLrEr/ts4vm3vg7fUjv+xh++FIA3mJUaP1SJoikGiRmjDQKDWUIqvFzmTv
4QE41ZHUWm01zWtI17qc8OTIhcT5i5zHawuS5sNXyzpnWhakZdYYZQFGbdrG36TMNyvrnMl2xrep
7n+RCnKeM+MPSIjF4aQgUaC0TL5VahQSKiqBvBbV0W5l6mC3QWLnEtd8yC2JykgcrN2Q3/UzsBsT
s6JTysrj7c1V1h2LHanNkNhhMOmSpseGFzTrO5cbywODqk2JZYmR09SJ1cmzE23WhUzn0PKRNSjn
U9Ai4MnIRDnRGNRWGdRdqKzsF/YEHPscZb9o244dQxLIZXbte1KFa0JxhVKjFPkj0UbpDR4SHXqt
RkbMwtCulJZy009Xbr0bBhrTkxZAbYbwHTmzaWOwtS61t2/5KpspKdkxG1ZyjJYw97ekFW1TOBdH
pUzpZT2CRv2S2RzIE6byeomcMoLpfjj8VNVkSmqpsjyyunh77c/Xbrp3sCE9Y9GpnIYFefmNAPVw
2actKibY1pjRudHSWQy+XeuWLTcmQpYwP9WZ5HIlOVNFOVYgEWEoGxKUDS1o7Br1R7dBuPAwIVLi
2pKP9/Ccwv0l6SG/R35pOBOzUlIJmkaDGXxdwLQHaWTnplZJDGYiZwbe6aC0QnbOIoDak7UADcJe
cFpr7/nyAbPR4gTy2PaKwQV3QE2aqwpgXk5+GditifGudGOitcVYrUioX9LTuzimaIai3rRyJUDc
ClhpdNhNRmfaOL5FcPEcp1PaA4HJC+UXio/Mwz96NioH7zWrSDH8ZSLnyrfOH2xyjWfd+xM4J/zY
tS52UT5lHZweZR1BPmRwZ6AZdWsqswBoAAi7mgrEL3mtTlcbDfnsTTxranfENdPRA7G71aP2h67L
E20Q2Nmi90dNEZ6TnCuDQqLn/FBK1Eqpwe5UK39+V9mVK2WQckJS+tfpfy2VUBwK7j7YDr8T4wAn
Wi0dvhTQKRyBzvu6uh7p7hbP3YDwGkR4GcCgSQ2GuxjAe0/cJgKk8EK4YpJIziHNBu8+edE+gBSV
VCoJQzVG2+B08XYbnvfTGJm0DcFtK4vWzoXQ2ebkafrBGbqwkABHsHqHtSyYBSzwQ1tnbEthrEs/
M9g/ONdXkphnVARK1IGRyiaHl1cr+LVkCK10jscvhqP9carpufKiMVKJCsiOXs9OXqV2qmUKldMF
9iBf76GjzsDrfU/bFixLmZ9irlqRsWZFWUL+2uOVZz9dVKPPmF5n6DxytD22Qua3MMAvOEI4n108
Jye7MJ9E3TtcuiYrQltjmeWq21He9JNW+yvPbxg2WuPMezra95sirdOEhwKmEMmiVDD8tCo5pXKe
K20uR9z/wA18jjolRY3hNAaNVAtWf5gKpDFVOJx2AFIOQoqb6+8fHCRnR3I5N8QJ71A9Q90iW5md
lqE9QK9gRZ9AVZ5XiqbXTvfMzGMsyB69GOE0VZkvXuxyJHUO1juThX8Lv4SEX06LiTDaQHmqOMK5
fumShbGy5rjXECjz4V9irHGRC0aNYYwkIiPVUqqpTGlJZl3bqYWHa4ymBYfrj3bW5ixdu4msX5/Q
9GT98vRlWwry+1dktFdlH3pxr048Jxp83o7gAzglokDTpVah19DI1DJR37SQWrNrXjxA7Ly9tcLn
Awe7uwjpXkHOprSuz8ndvDSdnN0sZO5sqt8qyiXGZiQV4U2lWq2Roedh/0jqyDckQFgHG4Ud/Ri/
bju18S52P0ZNJAbtMvVtWu/tTw3Cd8I+aBJOkTNbn2c+UIl7v4u8wYWNi0tROpx2NPwyLy+QA2Rv
ZVRzQtfA+g21+U+CseuhpsPV8eUPrztBlszX6I50N+9O2rRWeHdL6tLNBUsf7GQ0WNxucghpQJp9
kQaZVmbFq5UcGhAeHByE2gGAUOFjclZ4Fwzsflz1FO6RZzRbnxoYEM9H6f4n2YTfBuEPMlG2rQoq
weiyyab79+95qP/x6rq3EFD33kd+euiptvmg2ujhwWZ2Buib/NGVAiMBSKtwASruFd5DIqaQsz7C
48LdfuAQLiKEP0HMKP+o/fdlMR/yLnEQlgsKFMzn+jx749W4N4TtK+O1PIUcij6THPlryIeDt733
3gmAa8IbkCjwCPUtMKFA03WpyJPt5FmqAYC0aJWMJhgZrBQODrbDFIwZcgDeFWLo1lGOZuD5XEbZ
DKKSD9S6BPJ4KCifaowO0ONRh2Im0LfqwbkAxqrhJ/ZVG83V+2pKO02E7/1rL4EQewO52Pmzpvyt
y1xpy7bu72/LWF/aldEyvK/FXF1kFOWVRtkbkS4ppxY1zIHCYEe5xWAnHlknszieOp+WCzlprsUu
jQYv5wedl0jG93MXzt0Sn7egcUFePKoTUFhB7rfJV+RVtM1RCJvJvlQtNTBpQmHyiQrExAeYHhCI
eGJ4vglIzrzGqoq1dfuqjMZq0KxttIcA2dDe3edDQmzk1fSlm/MHF1U2zre5lm8d3t6WbCyqNjcd
ONlqKs8T6UfZQTl+Fvk0k2qI1qClNKusYnjNa+mObHpy152vbB1M+sC5dmh+Y/GFC6npLn//Tz4h
zwLsXFS+QQ5z/pLdkE3Pyd99lSwib9PoYyxfQ377YAiGP41L1qjVBaeFFLXJG5wFRWbX7MSi0sTI
+dsrPs3vUrXn5jXck14zP37+2rzXyRxHpNkWG6YLkkiCNKbi2cXLTKeTnUk2e7VMqjaXJ+UuMoCo
7+h/SCGzlRyNTDHKll35gGR+QHLXrx85K96T6P6KnEAZlLFoTVQMlCnRuhPFwP27hx4faJlXUYch
W/eJe+45AYeE7sbFS+txLbhHyBtifOOPxghll7whvL9beP/oW2+jkGeR50c+JBoRD+qAjwbvpbkH
r02A6eIC/O+judZTUzSnqkdwH73v59WP/pQa7kvvf/hnlHkp/EBfuF6Fe/kZrkfvDnKrkpcrtVNR
uOS83QqNjx76/JujTz559OvPDsGvwVcinBbu8QGp8IMPLIT5EnYWuP5xXI86E0qsTGPAfv8Tz9wt
/GNQ+BpRfQgaidBO3+CYZIx/8WJsT3MUFqqDjIQIx6B95H1oJZmbXCPuzSXwjZeXxyCKn0b5jbYK
I19Uyqivvlq7tp1f3zHSIuZgmLf8XsxbeMxbfLfBXDFtofjcx7gfxPVqrZhM/ICrv2rvInd1UH7D
XGIhz7E4xS63IgsMUrg6919Dx0/AXAm0C8elV64gjm/dh+FV9wjFIUW6p8Kfutrb8fc/EBP3Fp41
ngWyTa3USg8WdZBf+e6SiPI/DWUhGrkdxCJxJxJgwHxJQv2/2qKS0qSdek0M9B72WbNKolho7t13
qMdSvTlj3rwMZ7FMVgwP5Qrywhi8Y/eWjbvAmFW+p8JVW+Py+DOMKzOYLQ8dl4/TGMIqYwkKCzoM
6NKTU+fPS0utKBee7FO0xvfsPdDdYfVbCTsrMrLKKzKzysAmfBEdP7Rp3d6yXM6T+3wFr8OPNOZm
/ldPYxbR+TI0sLmyrLv32LHe5UVzjU5XeXlazoHy0p3Xds6pMFRm5pZQ+mRIX8yN6KMZu0EyFgmB
Oq28IjVt3vyGvpV+1o7uA3t74lsVsLMsK7OiPCujAmwjeblle9dtGoqPZvb3ayKDa2jLQpA6jRjB
q8eFVr4aZh2ITNgqKc2ILlGU6lanbjl0YN3WXcIqmCLJdViL/pCQEqyca4g9sH7lwTsTEhITOTEP
xssw5g9K5u9QYuxjGw8DlMGLfQ0NHeXZLlOMVhN76BBsbNcsbI2pDzHFa9qRtunCK8SXRGCsH0vP
XC1l2Qa9MA+p8uRFIqEeEUAjCH2JdU5bonPpnj/v21DcUVBsWT10cEVhobOoyOkoKoLLrtz81Brn
8mBrz+L1fS0JqUmW2dYdq3p3d5dsKSreNJedGY1vJKhfM5h/ZNkYqqVNJF0b05fcvHRxX7rVnteH
+nm1aGuvcA34rIzS5Gue/A6vvyDrUc5pVQK1jXiqBff09e1gBQP4QpCRarFqQNwHhNe402QDZqZK
dj9uVGKQipbOs/KnG5SzQiONltSKeYMeCCMPGuMApjdp2heSc54CBMvp4WvRdyPtTqtSivpkUGp1
ffcfvvDxkd/2ob3sOC+9fM3/ww89e+VOjdV/YjZsIGdG8jgvH3gj/Ivmzhq6f5Q86tDVVCfUE9ii
hE/67IuS+3r9ZxTGdOiTO5a39ZkTZqeCn61wjlX4Hq6maTUNdRt6hX/BFHtOgdVTT+HINPiW8lkz
xl9EwGCTaX2uZGfBhk6/kuq6dUBSispTrsHVnKLtvR6dmAHfoQ2U08qeRzBsOrGCh7Jx55UDw5/s
BS6joGBLQTF8d7Sz68iRrk5d9fqqqrSUWlHvLSQDvkcYKP8OtooqF+/doyfZMFzrKyvZVjIVdSq0
1tSzb2hVQuPMFahnqKypwjpyJtcQc6S757BGx+IDCzFcDxO3NSFlsb7LYMKdfTMbE1YN7esx1Yb6
rRwDCn46zeGe7iMxhtzRs4DT8G/qZ+SeExCNCJ5Zr39Irqk8wam32PP74PPkuFkJKyLTM4VruG6a
+wt4Ce0PXU8XKBXMz7N9OWnyTik0eNMreCQ3obiuQWNNiwntXpLbZUkLXhofbTfZDdkZ0YaM/Oi1
8Ey5MXG2hPgpNUn6vMZoW82sGICokOCZPC/TpMXEuqKoy3YL7n9DD+qAgtYBWVUOzwVTOTTb6bQI
VNe3a7c2JTwq0VbZ1NBA2qcNt/0xKnr6cgXwjXV/bGN7jnd/T+TwuUcPvUVSr8mL94pHcUN9L3wu
CExAhBk5Rf1ivQ5pEPAsrlK/BFaMY60R4IR7drw5+NaO3JJiuCoEwZf3vvEawxXuFvgKvJfGAdT/
e2IB3iqH/vaO3p2n91uNRuv+X+zqxXX7YJUQdPi++w7Dl8I+8Xx88CIgrdOZhxK1Tqq1Ow0YB0Dz
4XtOH25vP3z6nsOQ/4DPF9/x993Hf/eFD41UUF6CcZ2/WC90ikQe3im8NdTw0v7iBCt8PpL3Dnz8
x727OE+8AA+K98s1St6Krl+uDYW9H30sNH/2Z/g8RXhpvRWK2b1q90lwEDeHoY6vkvLdhlEvXh1q
pR41TSGVSMN5pQK/U4GjsyM/v6Nzdqzf9ITgiAASJW1S1LQMz6+fP9xSo2iaFm0fypRrAqUqXUio
xGfIHobwi9ynuXPkS2Y70BKcW0u+vHaWz/Xw/iSEIe5o6utVeG42VjGggobf66V2hwrxWpVReJUQ
ZxQJiAimeGNnM0KWNknC7EM+ktAQnUoqVUeHhEoRafS0cUSJZ3yNew8+gyEWJ6LrotlnlNQglhVV
cGTBzCX5M5aHmmdWyufb41cHJcCa8KLiYElmckR2er5vILPXae6Z3CXYK/Zc1ChgDoUE/XTxwMCh
8vLyvxMfb8uF1QTvg4/IbGrj0Z+L3Q1vR0M9Lsl0wG3FaUW9C7o763vnJhUosmalzJuXEpKxpzY5
ML9QMdxYv085p3C6s0wxszrDVU0TIA7TFTKfvMy6NAo16oxKIqWxnQsMqDFe26Glan8l6PXf+ETo
YdfIn2abSUPBjF3rOrf6bvDvykqBv2hzu2MrZ2zeHFDs6M6P6Nq4rKMpk8VRXB5cIzbUSUTnlBqc
elppd1jU1L2yLMZAfaiW2tB7UxpSEu2uhhTzMlNafUri7OS61IW+iUlJiQmpqdtS65ObW1MbUuWK
tIaUpU3JdSkx6zNrM7Oqs8bHtDNpNcqK2bYVwzrUKSquWk+FfuMdd3R8cCfGuVfaTp48ObimydoM
pRIx2n2i2dq0Zo3oS8vd93GvkvOeHhdaZh7P59XN9AuqoFcoFw6w+wzoDwzkRc7BZdPqlsrJckfQ
SszEiSmMGZwu3mMzpazsEU6kGESynFMbBXgrDSnDAXldlrbSVgwQmRydUFsST4g5Nj6WEMe8yvif
ZNXEL9rCQ4wtLLGiIt6Hn62NMxHirKowPIpaaykqdgC7ls7LIsHqQMUUkEVlxIalTPPPjDJlRwYW
F8WaZ6j9A8KzEiKSpwRkhRvxl7B0ZqSfX6RaFS6RhrF8lRyAX5EDuGNq7W0O6of0Ts97Yj5+/UAv
5IAxOtoYHx0d73mn9aRa97d8Inkd186iusdFqoIkkfogsDjHAkW1Uzxjwppd+iiIhPLf/lZ47Pew
rTwrS2syZ2YkGLWZroraVaueO3B1166r5PU3hYtvvoXh7X0Z6VpngiVZk+pq++USsP/95O2f3I54
ee4fsBL5H4R+L3xclB41MUpHdDxNWeSkvo6f5govbmgqikwu1yYkaPVG4yuYuxw0Cs8mhIRDXWXF
ApiVbCo12V12oa+mRpSHAG4RXCChYg1W7rRK1doMoNeAvf179vTr2BVc77//wQf4Em3zdO4EnIQt
rCdCi/52ONkmfABb/rZ1OX7uwy1y/5O3kldQbhWclmXFFuQacivIwbOgmOkEGFzEDPEgs2KOgmJo
UUniAS48+LvfPfjA735XC7vWrtu1a93aXfBYvd4MIXnmR5ujapZfLg1VqUJLySuUgW+C403hyJrb
kWW3C//o8XdkZ8QJh1auhJlxcbg3KbwNCvImnp2M1YpZ5OeICgTWKNJLKzrKy7tKjRFSabgxXCol
6vU5OetzfqXWRKrVkRqRPwpODr8g+cgdKjv2sZYYZbviQN/Bg30H4HbIXHn0KP4X3vLWhiNgGAp5
HqXG0wtS0X4MjdRpG0is826ohaqk/Hlxaelx54UP4tPT413qSHLImZqaFmcJmqJUTpu3KHa2bKpK
GSdnfQYYhGKEqacwxb4PM89aurXRpg+whoqY0TyabI8MA79wdYp/ae3qOghWh0TY8gxpddAw1Rqi
J4ac6TOlQUHRzqRU58w4qZ9xZlyyMiVZK5ebqC/APPIdMY+UK6nzfaero4ic8d0tEX1nlDuGBMIl
GjFqqHBiTseKZlQNMLAggesCZHmRtWFbthcszBmwavUFwnfkl8KPyTn52T+wXC6eV3tyfVzIDL+V
Vi8wZ9882LPl0Db4sXGQZF77FAam3t7Sfuema5/ySpG/MvTJD+HL19sFkJWUlMCshQbDQlYf1Lhr
IA4tJp68GuMyp0OP9tnK7BPoNXZVrb9f1qywyNqgjNl+AW1rHzKF+4SHhSjUC60kz+i0MP9hh2Hu
E3JNrAswu4vJvt1iHoqH4dL/KRY+KBVlZDpGRdWkCe8LZX1I5p71ErEDSWgHkpjJkrklJXOro1Py
8lOio1Py81KiyUKnJTbW4kyMjVnmMBXQLniByfsNwsXMfhE849VNUEu1ToOWXSFhL9VLM7uSUFE3
P3if6l60+yPyKnmB9eVkLL8d7eEanHapHGMifnQvJGlVVFTtOZ8X2/ybha5FLtxaInRfnpuVVUyG
h4l9JBI6St4tFi6VsB4Whf0vhM0j7DgxvhqD5XszKYevx2AX3lDiXxjDU3pj4ffh9O6PeH9ywbMv
5432JR/rhVKVGNcIlYxTCbLau+cZlC6F0xoxC0Ijk/xKqpKSqyFYFRzemJ5cA7VTE4N1E5lBZmQF
qqcFa+2OZLs6VuIXp05LSnJGyWfEi3Igc2eTGPg1ygHljoIWVFxoa+QGT6rCOjzpYMA4J5BXSmhb
DXaXl2kSEiLvHoJya1KJOtgREBKmmzEIoJ9WbjOT29f03g6/ssTEWsJj/f3jhBwwOeJtyshAtSRQ
YcxL9AXfvJn++ojC2StWQCfHi30T/jDrmwSN75wQVgma3D4xHCzqGN9CIftZleg6ODo1bb5bnTpN
KDBTQKJSDwrn8f+BNEgWrvXfi6ZBBDS4EeKgTTQSXjjbGRz5BHqcVjGmn0zS7KM5RzelJG8aTxZ8
v2ePJDV1FN5mBi90QmdIbnCow4EVXDD/kkwGGzI3fkFAhj6wUpmvD4gKDg2ZAP9aXIeCj/QNMyTH
T+HlAb6YIvl4cCUxXDNYTWeUC3J+UhgxmR8vjoYV47gyfXKA4d3PCeQxqxrJxWa1QgpatjO9XMPP
iJJQ0b1S5rCXpULyQXFfSak8+PRHFYaHR+vC+PDkzMzkPM1IIWL7TaRgQGSxVquVyaX7UzyIOmZn
5awjZNciZG9XSGe1O/k6ofHSghNwFh4TLkGw8Dfhn4enbN26bx85u+n+vlMDm0965lfsrPcVM96m
msEwuQGGael0EC3tP72WNuLYbTC5HxZV13osULS/f/Da30bFhZ3jGmRR9S0Sk9ciUx1jvS3k11Rq
2cd3t8RK5/ge1xSUbW+fiw9icu1df0hcr7GP/pN5xDpVXAu7R76Bh1Gm++/aeGrbSC5/iAm0d/0R
XK+YhH9UnseREOKRZS8ZZKdHjj1wChGOnMnxOEomR6jjaSobFSsvYYWTZYq436K9MX6PmH/R7piB
8eapgYH/TwvBZy94eGGhNXbvfanogp2MB5aBgcvU0Z99Tdyz+xzeF88P4X0BHnjevSLIbz1bJGcz
vTr6PN6v4dNYvI0SN1lVaMaRRbfwDr20DgzwaZP2cO0LlFZCa57kQdZLCGWVbJmG+RfaGrUqxYpt
PKAXCMgH/uFzxpr9dcLI1sFVa9f3Du4EXQ8Yzh0s2r40FXSn+ztXrHqsh+6Z9dTQHjHrMa6r5pxo
PbxNtmUl8dUBrujAcmWOPkCjDg2e0HXLj12h4CN8Z+mdaDVmBPjKOOYnWR+OP8n6cNG36sSJMvsf
+nGv0jO7RU8OcsTCvhfvsVG8UYFEEU4s6HYwHZOKGRo6Qr0LxHAO+mr2VZuN1fueGK4yAsx9cFVq
A+2lIWaemDq/oEJwMaOtf//WZWmuZVvzm37WuZ4201r2DbdkdJUiYiofXry3MbyGW+13VG7+w5Y/
9srULbZ9VpS2sX0PMfwJt8KfABMP+dZU7Jt89rci56nrRMHHQ1c+04NIOq01WbOlNz+hc1Q3/kUv
abc8JD5/ku5U3PzAqA2P4/bCHvicZXu0TqEWBwQ3NzaXLF5WsmRRWcsi+LS5tWTZ0jlLW8sWLRL5
+xtymQhcMKcRszm1J5LmWRdHHKwkcspjA6+SU46r1HI99OVnm7aVZmQzFi8oz07cWpmaTtm8speQ
7O/0Rspu4vxWRy6qi/ttJ+dT3gZX7LIcnVeA7B25e19Ld6GwZCr8Axm9JAtOTPH0n2kvE/VLRvvP
13czQfQE43qawktUhyY1Nkm7qDdeeLd74Gm98LQeeLzoGU4M1FXMaxl4fGj3/UdZHiR01y9d3EjB
UbCk25MXjYcXckP6Rj3FeBLv8sr8JDLhY4+g8x64OQiXnsQNKIXJnmMczYJyrNAxmfTg63yIWHNC
P8miP+CplbTKAINt0XLUPnEnTBsE9d3hyAq4Y3xP9Y9jfGBzAmfEPoxVTm12OCZDmPMrZZ6pgUTo
f7lyvcOxvvK8ODFAzqzMa9vQlrca3rhSWF3I4g4XAismL1Pb4jSoRLNvH52Ok2LChTmjJ3DyBPw/
wpIVi1wJxvhcIJnG2ekAAwcXtu5JTiwveYF0h2SkJWevjtDGxRoNn8Zc1BPS0LZ0YXze1BnLk4Z6
mE1hPVLyEuuRam7dJfVY8Zv1Sl9E2btZvxRsXtst4js/ig95o6eVT1psoyVUNA7A0gibw2O8H1ZW
W3oO7es1L1RIVq05znA5EetFeiIPRRth18YtuwHMMYXwebOrptZVsaccUjxxuQffBYYv+tb7G7Pa
N9viux7Zvdk2nxyz1SLe3zO8xlvjnWytb4Z9y3U++iZkPHsDGy3Sc4DRo6VzkLfi/ORI5qZn0DGq
azc9CX6yznlo4dUeWm7NHW8j0ykmB7fo1T86d2lJydJE7axZ2tBwDMtvwpzLHa70rvT7ExMjoiNo
ddj9FX8CfuR0GCUmT+pmoyiMJwq9gRJPitd5iCNmohYb3fyJ8Y3uHotvHYwSqPRpSO2xNuWHjXRR
UmOzNEFBmqxLk7rgczPHkRqd6yolYCxZvQVp1tgzMu2aBrFBTmtJWWwuwDAxN7FPGg8YTU2IvpOl
JplhYRFVS8ePC8RWliwPwKzEP69y3vPGMJ+wWSEK1QLFtuVbvDMEseXFvJ7kxMfMlkaJ/vFrIkNd
ohlc5C07/54k5Vb9/xA0F9fNAMCSsRiP4vrDKC7H6NYcTrHOYHCK3RrRTBBZ4K6t6w4c2pK6Wleq
KInOKJWQaUVWR64kAO3EH47eeXDl+gOxhrnK4JSEJYgpAe7w2O+J+9Lecl+jJuKWW3N4zMR12/uL
1z74eHBuZzETqx1PjpnkN99xD1W4P9LLKzfbNNk+Se2ENdezgObMdPTgIfIM50s9oXhstFviMxDX
2rJtG3nKd79k5M9wyTu/yf3Je6/Idprj/KmoNc6E9z7je0CyfySf3kzcr6OwTiPnbpBLPbht27v9
Kf2dFksnXKo8fFjicmEu9RrN0cjWW+VSFrrjp+mlCbFtnbTBkdOImHCR7u9IGHmFm8Wqxw6VGu06
7VgZnHTgd7RKhqc6Y7TJfiVugTogTx6RGhLqVBWlxKfpllTuWrthaFl9X25uXx58IJEpItN8tYaI
IGnrlBBrfHzZr9auOXB4Sc0u4URlclJlZVIy5Q+bS0CZnUGl6AaTCTCpcjNhUEF45DrzPn50Aebc
OAdj8wzkd2yeIfjGEw3iqU6ca/gDddaTZxvATrXPC/OcFybHxJCC0nmgj/rmgSvDez8ZFtypxQi0
4BL1yKNAa1PSqqrWV0PSqJ6JcJ9ncGfdmNZRKZlI7ldexzuZ5F946wwi7BcZ7Ogbw57kZydiOHId
9yejevYGB+DjwbuLyW0weyJmkuSqbsC9xVSIX6OXigkMJLsmCfXSScwUz1zO7YY3YYTNCcmpJmrs
vh5sMq/1gOeF9/I9X7Bt7drvPBDh7tGaHNL+PNIewyozWm++Mzq0xh41UFPq1U49z+Y6pSoIMsfp
VmXPH14TazKsypk3vDqjIHh3YCBed/rBd4EZPXM2dB0JyF5ZuLnzaHd1mk33d154vyrNbPgr8czq
f0/kbEZq5g2nM+RMWCfMaDRTWZ04pwGvenOaifDEBIGFMx49F8td9/X11jcU+3VuKHAmu0BN5fRz
YaSnvygHrl5LKS9Kgf/nqXuJ8M4hvNAb0+cV0AkkFnrlcxKZJaM5jQh3B6uvRt2Q0skmbwLNuWOB
1iTCT15fF2OzIeRZ1AXacdJOxwhTK5daPY4yeGedNaF4/0sNQz9nfPjTrr1/FELf4feO5jNsvonN
idLp/9HWPp1vEucaxUYDJNOho5TKysa+PnWjqWd4T4+pPnRFcX9x5epK4ff8HuGqLnbo+yF9LNp3
kabN7HmF4PFUXVdgHqPvtnGb9lJZfF3vWpxFexCtv2dGHh0M9UHg/iduxoj7mMZmiaS0fGmX2p0y
64srVtDB9dLSQbjTtsT6fN8P+lY9LKJr/o6w/i7O5yO/MONkC2R/L9iQmbkBnq7TCi8CRNRHQJPw
HuWVCePH18hFzPwiWZ10rFluH62YemMymZ5/TXAmpT7y69/8IjUJLgiPQ5bw/Gddq9d35hgTBgeC
Xrv31MtBZOAnm38C/7Ove/lxBbyhovru/prfBf/mwjDqM0+OUceNcbKzGbN33uB0l9AvKfaGKgfS
cteu2Tu8Kn35LPWSzG07RzaL9u/MpIB0SSuanWO2BFPSHbEeA1grxqBEnAPnj2PUYv1vJ8ETaLGC
zjf9NyPhV45uSs1cf9t/NRlu2SNJT5fs8cz7fgEv4XnHsIz8P0+tjRL1n8fXjosk/TdTbIkeinhP
bSHH21UZV13QTU6wRusMwuCY0E8oN+y8Xs9/QPiz+GHEM2P8RPcYr8dGu5s8LB2d8D47jm9sNgzj
OhHO6HQYnUFjcEbHxB7ycME7LXbaCwTcv3Wnw2OY70ZgXnKjsV1WwsEgDMVi9YQB3o7yFKcpKkQT
S2DzuFFeYWBha3S9ij5CyKlIKmzHuMqPTW6I5lflLSNleWNq4IKIEegzUfQ+L+0/82zcOLpf4ELI
GZjD6jVo4VVSiUFv0DutCpXjby3S4syiohlS0mq3kzO1MVFqddbMUG1YmJh7kW3cHfiSjk1ZTGVD
tWShZ46WcNPhXZiJ9sCf1pNmML2kO3eI6et02tsqsztqxXYWmbkyM3NlxmnWwQJuNuZ2VvfH9BQi
MBXHyFXv4iNATx/i/NalLC/Lm+LLy+PnOKdra6dKMw8mREX4maKDDObIIH+bv0an8hdnBmaRAWjj
CaVgUrNw+XWl3oHrohrCBZDZcJI8h9ENlQwl7cTTC5xcu3iBbdXSWvKsz+59gC/6HBL3FVyFRmp7
6ROESnj3qw462x/IfUUKxn4fSJI9v0fTfBZ9E539Q5hnZ28pJc9evizO/sF73GnxWSceIxGCn8F7
4mdcsPsu7oHJz2E/MPk5bMJJ4M/QyOaSpdQGiH+mABoR1ByK6szlyxQgobigiuGSitisHoxzPFgZ
XkLxwmKGVz4es3oyDc9OIiV+3LPhKvcwiRJ9Cm3j0LkPqiHQ9MILQy+8QM6c6Rr5N5F0naH7NLkH
SDLeK/fc623+i/MHdljzIn4N0gs583TX+50vv9z5ftfT4rlrufOggxcYj8QHBlD27ksqKkpyzplz
Pr+noKAnn8YiOi4DPXEGi1nVY8+kT34Xn1H/9bir+Lz6+P+IV0r/ZgL/6IS/mZDO5f1f/m7CDT76
P/8phf4bfPbf/30F4ep1n4g8pXNjwWw2xTM1FjA2KcZsE36u9XzOZlZuGzesgjK9wP0cxJN32bMr
YIUHoLlXuDubD732sQe++0sSjfZC733Ow8CMJ/2rGqPD2lKrVEvDcHyjT364dcmZRx4Oy3WAsyDy
9HCyNS5Mdzjzr6rPAC4pfpF6Mm5jn6y/u1mtmNLSNRC01m9VyxRFkLR5jegj4XbyOOq2lD6BJGeS
pVE61bQAZ3dKtQa0rrI/NDVB+GBZ2eJmabmiVNpMOt9+u7y8orlZeK+mqr29qgZ0nLj3z+DOMR1X
wc7PenvZbC0HH5KfMAz0CUevwGMkwGZdJco3ge/b3dfQUNS7L8Nkb8vGoFYOO4SNsGN5SE6zPkhX
Hym10sf+3f/GyzvoV9QTnwdBiOOeCKmu7ihva94QZYiMa2sTnwhJHuklVTNsRk07kvq/s9Iis3ja
rZLPahNRFMa/maRN0lYrLly40ANuWi3JJMsIhabgQmhBA8WFm5vkTjJ0MjfMTEOy9AnER3Dr2odw
7c6tS99B8Lu3Nw0a8A+YIdzfOXPOd/7MBXA/OEaA699TLDwHaOCT5xA1fPVcwcPgsecq6sFrz1u4
FbzxvE3/e881HIVVz3Xshy88N8ir+B08Cr943sW9yhPPe+QZKwbVBq25q245wF189BziNj57ruAY
3zxXcSd47nmLM2rP2/S/9VzDq+CD5zoehG3PDbLyvINn4TvPu5zlu+c9HFV6OIXBDEvkSDDGBCUE
BxjikGcHEdr8CwaMEPQ5gWaEQYEUipb1JZjSM0eT1gn9Kc+1WuEszVPztPkjRuLUzJZ5Mp6UcjA8
lE7UjmSwlP5cl6ZI1Vz6ydTMm3KSpuLCCsl1ofO5HjH5nCoL1hf0WDmlIs71QknPpMSXfDvGlesw
p6nHV6kibHa/7r1LrU3V7s0OOkxf9eZa68pNxa5tv7Pu6qeerlu6cMMXLGeQUbTNFUTuwYXOi8Rk
0m5GUfRbkc3+hIJ2v9ZXsoCiT3MiO/clfQbxX3y19e4kKURJmauRnqr8Uky88UXwBzn8kvDv8Wf0
j9y+Mjda5gbVzLWf1dr2ihaOCkfaXTc7auz2W9qhzsxI55mobCQ61WOVlVKorBBeoiSW2GQlg+wF
LXn9u2jxWWXH1B44zSGVhvRO+RaTspx1Wy2bGqtBngybQzNt/R+RH6d74PkAeNpt0FVoFQAAQNHz
3ja7u7vzqbPbOTtn5+zW6XR2d6MI+qVYCCq2U7G7Exu7u+NXh99euN8XrqB//ElU0f94l2RAUJhw
EZJJLoWUUkktjbTSSS+DjDLJLIussskuh5xyyS2PvPLJr4CCCimsiKKKKa6EkkoprYyyyikvpEJS
u5JIlVVRVTXV1VBTLbXVUVc99TUQpaFojTTWRFPNNNdCS6201kZbMdppr4OOOumsi6666a6HnmL1
0tsGs81xxEpvzbXUIqttttFCs6zw3Q9LrDLfKY99s8YWv/z023rbXHDOdn30tUw/l/R33kXXXHbF
1aQ/A9x03Q07DPTVcnfcctsgH3yywBCDDTXcMCOsFWeUkeKNlmCMscZ5b7yJJphkiskOWGeaqaab
4aPPDrrruRd22uWlVw557Y1N7nnmgYceeeq+J3bbY5/9Ttsr0RkznTTPVmcddczhQNBiXxx3IhAW
CA+PToiPC0bFRMSGQqHIv+COcfkAAAAAAAH//wACeNpjYGRgYOADYgkGEGBiYATCF0DMAuYxAAAO
QgEbAAAAAQAAAAoAHAAeAAFsYXRuAAgABAAAAAD//wAAAAAAAHja7Zp9TJXXHcfPBe/l8tzLfREe
r62uUNdVYbW2vhRBbLLGF0SxioqIuHRL989mls5sWVi21ZZqW9trFHWi0ghckBe5xjfC60hBRdbc
NFv/4Kb9Y+Em+6PsIQv+AaFLk2efc+4FKajRbGu6lXvy5TnPef39vr/f+Z3zHBUWIYQmnhDPCMv+
H/3y58Iu5lAiTFPIGsvPfnJAlonoG3VxPOOFMyXlqc+FJfl91frXYtxy1nLZ0mH5c7wrPiX+7Jz9
1hprm3XA+jfrP6zjtjib0zbP9qrtD7YPE55N2J/wUcK4fZE9x37UHrJ/llikbdCKtN9rFY7lji2O
ckeXs8/5ZdJnrjb3XPc6d577Ffdh9zF3r3vQ80PPQU+T57qnwzPsfcL7jPdF72vew4w4mbxVCR8x
cjSFoomRJxMjq+T9a8I4I0+muW3M0RtNzKCSmmEyaRu8Vck/dpRLmcQS8ZT5F/E94RZPC49YakbE
czwzec8Ba80vxDrq15PPBZuo2wxeJr+D5y6eu3m+TpuD4A3wJigDb4FD4DD1lbQ7T74KVIMaEAC1
oA7UU98AGkET6AF94DbzW0UyuRSgg/mkhSIN2z3GuAsosYoUc5A6DzVuSudTKiVMNoeoCagaH/n5
5rhYYN4RC80/oa9dPE2vJWKxSBc+sdz8XKwwz4qVtFtlNokXzHaRaZaJ1ZRl0T/bPCdyzP1iHW3X
03cDfTfyzIOvfMoK0GGn+akoZPzd5hFRxHMP4xSbNWIv7UrM34p9zH+Yfm8z5zvgXXAEHGfucnAC
nASnwGlQwdxnwFlwDlQy/3nmqgLVoAYEQC2oAxcY+wpyXAXXwHXQAlpBG/K0gw7QCbqQpxv0Ms8N
6m+i7y3K+5ijHzktWFUXT4rvw2iW9AORqnTfYI6gtw9f8OEHdrEFbvLRYSvvL5PfRtt9WODBco5g
bx/29mFvH/b2iYv0bQZBcAn0gNvM2c9YK7GWD2sNYZEOpPFhifeQaDESzccaUqo7SDUfqTxYZATJ
fEiVGpMqDetE8NZULDSEda7GLDOIZTxYplxJfJi6SsY9T74KVIMaEAC1oA5cYJ56+jSARtAErjD2
VXANXActoBV0MW436GH+G7z3MfZtZJYa5bPmetBqGWttGWttsVjNMwtkk18DcsivRfp11K7nfQM2
2Ug+Fy02UZ4H95vJb2H0rdRLLbcxcgHtopqOYMFMUUTdHlBMfi/lJTz38f468x8Eb4A3QRl4CxwC
Fcx9BpwF50AlOE+/KlANakAA1II6cIE56xm7ATSCJnAReZpBEFwCV2hzFVwD10ELaAVtyNIOOkAn
6GK8bhBlbZwYsAzWfLC2mHWuw+M8Ivx88Bj++bgZEgk8NUp1Wjmo0alJJQLoRAmd6O6jz3xzjLYR
Ysbj5gDr31C5kGoVzS2M1coyjdwCvGMhvZKxTKry/jxsXciziDn24CslrJoK3s+As+AcaKOuHXSA
TtBFm25wizrpzU7iTSr+nKpsLu2dh9QlzP02Ze+Ad8ER0EVZN9DwEhmVP1VR+EERdIFIp9UK+qyC
t0wkXA2yeF8H8qjLp9V2Fbd9xO3FzPsFMWaIGDNEjBkixgwxQ4QZIswQYYYIM0SYIcIMEXGZvl30
6QZukQGLS2FzJc9VyJlpVjBbBZEyIDZStskcRjsdTxxmzYXhLMSaC+GFacy/mHiegb2W0mI5z5U8
XwBS3mxGzQF5jLoZ7MEOx2lTDk6Ak+AUOA0qafcBY/WSv0n/Pt4dRK1U8SzzPEfJCrBKMa7HRtRZ
KbqKb8XKd9L5K+fPZO4s5srmuQZJ5dz5sdaypQ1pHYyTjuUcrFRZm44+utJF59ShoQvjMFsWyFFr
VRfvUf4+8IOj4Dhl5eAEOAlOgdOgkva9Ugeebqw4hkQDMUbCipFc5i2hXGpdT74BNIIm0EV5N5AM
xCMpFoGBbMZLRZswXmCIXOrzsEc+2E6+ABSZo1jdwOoGVjewuoHVDaxuYHVD1NOmATSCJnAZXAFX
wTVwHbSAVtDGWO2gA3SCG5StYW/txUsG0GgUnxxEkmHiWQQviSARvgl/25hpOyig3U7KCsnv5llE
+wnPKaFuH+XHGa8cnAAnwSlwGlTQ9gw4C86B88xTBapBDQiAWlAHLjB2PWgAjaBJ+jdjX2GOq+Aa
uA5aQCtoY7x20AE6QRdl3aCXeW/wvEXffjBnyjqoUP6fSM4gjmvEUI0YqhFDNWKoRgzViKEaMVTD
t6IeGKbvYMwDB4j8GqeybHhbo9bEmLLiXe4MZc0CnjvptUtyhifsiflrifQp+jzIulEeDHgw4MGA
B8mBAQcGHBhwYMCBAQcGsVknNuvoa+BlY8gclTeiNMwhXwn6gJe1nKrWwWrar1WrzsFqySDuaDHZ
0omeOtFTJ3rqRE+d8dMZP511LKOlRsojJ1fhVnpv47kD7MRbdgGlKcwUI8lLwsu+JefKUj6fxtrL
YF4dvsrgqwy+/PBVSlQKwVmZ2EKvbeZRfM4Pf6ViB/mdlO/CaoU8d8NrEWV7eC8mou3lHFfCc58Z
nCF3JXOdp08VqAY1IABqQR24AOqZowE0giZwkfmbQRBcUqvKD++l8F4K76XwXgrvpfBeiu8dxfeO
4ntH8b2j+F4A3wtgh1L8rox4kQFfOv4XFEnYYhBviagYnAc2w9FWpe0oWo6ipaE8RUbVYt73ks+E
p2Z4aqZXEJ5q4ClM7wp6G3A1zAgGI7TCVyt81TBSKyMFGakVvlrhawC+Whl1gFEjjBpR+9o+ys4z
bhWoBjUgAGpBHbgA6hmvATSCJnCR+ZpBEFwClxnjCuVXwTVwHbSAVtBGXTvoAJ1gYt+8Qd0t3vtB
pvKGdUh7V8Mg2jXHtBtFsxCahWKahWKahdAshGaDaNaDVgNoFY5pFYpZPYhmQTQLolkQzYJoFkSz
YEyzIJoF0SyIZkE0G0WzUTQbRbNRNAs9QLMeNOtBsx4065mmWUhZvZ/nPDQaRqPobpvPXlegYqe0
8DBSG0rievINoBE0gfuu8clZDE4rG/G2Ter04IerCF4QgasgHDXDkR+Omu/u60RCCzKkcU5bj2/J
nTMqRUSdtRPpOabW1V25DBXPu0B3LH7GMYJDrXGn2u3kKEVqlRszdrzpu00CMo7FfH0sNrfsOYxs
Y7ETgNyXs4kxOfI0gEVlHNiOhAVYdhf5QrXnGGpVVNJm5jqNwF0Y7sJwF4a7MNyF4S6MPAbyGMhj
II8Bh2Esxcmfceyx08TviM4yAjpip3GNqKcR9WS0K2L8KFsRxU0b7+2gA3SCCZ7i2N0z1LnDwinH
AVPS4ntiEf9horcTC0YZKlIsGZP2mK7DxJzxU2wpd7ndStYx9SbZdRKP5dmY0xpPGeH3KnnkmVjj
TKxxJtY4E0t9U5EjFS8p5u/emNQT0tliJY6oZ/DsBtIz3Or09XzsnDj1FJaj/D6d07mmeh9TMVlX
58FblPWpPtGdwK98OroT3PXraISL+vZ2fLqA8qk+XkgkLCLiTvX1Enxa7gYPjvz+e0T+6dGtGZv5
sZkfm/mxmR+b+bGZH2sEsEYAawSwRgBrDGKNQWzox7MqVMTPYLXxbQg2qdPdkFoFW/j+yycfjdvj
aHUn+m1I3U6wi3yh/EakTdTvRtBsHM0+RbMRNBtC0hEkHUHSESQdQdI79/+Om+GrI0g6or7hbvHs
ZzztgeuzZIq3xbH+rbQXWN2NT3jF46zu74gnyC1C42TO2s/xfbecPf5JzlZb8Y1tooATwC7SGnyw
GK94ndP2i5y2T1F/mq+EHZzALlFzWbSIn4pW0mviQ9IvOHXfFAfwk9viV8LiOajuAZfQ8su47LgP
48vn9FvnWXOtB6yDthdtx2wfJ2yxZ9tfsf8zMSWxWHvV8ZIzzfkbZ5Xzk6RtSQeSKpM+dgnXPFeu
q9C133XYddL1ibvZddJT+D9w0zZ7Z/bv3JnN3pbN3pZ9c27LZm+u7n1z9d+9e/qm3QTN3v18fXc/
D3fT8+29z5m9pZm4pZm9b5m9b5l53/JwNySPfi/y/3Pz8XXcdFiVNNMlePT7jXh1izFxg/Gotx2y
dxolaZSkzd59fIvuPiyctK3EAje77lx157FIfJezdDraLhXP8g20ghPrKrwgCw9Yw/fORs6Weayy
rXzT7GRH3q3uP/aKQ3hCHefIGyLO+nd5pxHfMKeD85ZP/i8pIoBmDmP3NDzEYUbMAfM0c9z7p+G7
DpXTSYI3PZanL7Xy3xjTkG9qj4mfPuXv1J9+n7nu3T7lvpLd6+eY9pzyM0NwPG1srMA4M8qj7SOy
3Bw1xybq4Uz+LTMHzQr8cnr7UjBsNuOl0fegyqXN1EqNk6Y00Cb1S3kgNzFt8Zivzikl/Py+LIjJ
Xl8tWXlPhrWZY//HftMlikiuHrYz6+VhWhkxm4a/WmqGiUn6fbtpj6BF1Fr61L7Kq/SYjto9uX+Y
n7zZf5pk4Rt1Mat/CSmOr8ln2A+WkTzsAc+zkpeTrMT1F9hdV5Ns7AM5IoGz9Foixzr1DbKB5OCs
kMvetYWUJF4mefmO3i5cooAkv6d3iGTixCFmOUyy8DV/hPx7fJ3Gs5ccYy55f2rlq/Q0fys4SduI
KpXM9QFpLl860e+aOma5QHJwGmkif1FcYsbLJJe4IlqYS963usUfScnq1lXeWvUgTy8pjhh1g143
SXb2rD7Gv01KpGa5YsSqGLEpRuYqRpIVIwmKEbtiJFExkqIY0RQjDsWIUzFiUYzMU4wkKUbcihGX
YsSjGPGyjxaieRFpDjtwCfPvI+mKHatiZ65iJ1mxY1fsJCp2EhU7mmLHodixwU4d80pe5ilekhQv
bsWLR/HiVbx4OUV0MmMXKY4dv5u/kqMExZFLcZSoOPIqjlLY228hp2TKoZhyin6S/N9MPvEUScDZ
EuaWTM1RTFnhaTky3fWaRBiS33KSHadiJ0mx45rCjgdudjCrvEtPQeNTjC3v0jPUXfrz6i79B0qH
jcq2uUh9k/1I3qVv/RfoaMMCAHjaY2BgYGQAgmOp20+B6DP6NfwwGgBHLAW6AAA=) format('woff'), url('NexaBold.ttf')  format('truetype'), url('NexaBold.svg#NexaBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


