<div class="container">
    <div id="navigation" class="menu-two">
        <div class="navbar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> 
                <div class="navbar-brand logo">
                    <a href="index.html"><img class="img-responsive" src="images/logo.png" alt="Image" ></a> 
                </div> 
            </div>    
            <div class="collapse navbar-collapse">
                <nav id="mainmenu">
                    <ul class="nav navbar-nav"> 
                        <li class=" scroll current"><a href="#home-banner">Home</a></li>
                        <li class="scroll"><a href="#about">About Me</a></li>
                        <li class="scroll"><a href="#skill">Skills</a></li>
                        <li class="scroll"><a href="#exprience">Experience</a></li>
                        <li class="scroll"><a href="#education">Education</a></li>
                        <li class="scroll"><a href="#portfolio">Portfolio</a></li>
                        <li class="scroll"><a href="#contact">Contact</a></li>
                        <li class="scroll"><a href="#blog">Blog</a></li>   
                    </ul>
                </nav>
            </div>  
        </div><!-- navbar -->                                
    </div><!-- navigation -->                     
</div><!-- container -->