<div id="home-banner" class="home-banner-one">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="banner-content">
                    <div class="banner-info">
                    <!--
                        <h1></h1>
                        <h2></h2>
                        <h3>Le catalyseur de vos projets Santé</h3>
                    -->
                    </div>
                </div>
            </div>
        </div><!-- row -->
    </div><!-- container -->
</div><!-- home-banner -->