{% load static %}
<div id="portfolio" class="portfolio-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="section-title">
                    <h1>Références</h1>
                </div>
                <div class="text-info">
                    <h4>Quelques clients récents</h4>
                    <!--
                    <h4>My Recent Work</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    -->
                </div>
                <div class="portfolio-content">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="portfolio-item">
                                <img class="img-responsive" src="{% static 'nakr_consulting/images/portfolio/logo_mma-fondation.png' %}" alt="Image">
                                <div class="portfolio-overlay">
                                    <div class="portfolio-info">
                                        <a href="images/portfolio/1.jpg' %}><i class="fa fa-camera-retro" aria-hidden="true"></i></a>
                                        <h3>Book Cover</h3>
                                        <p>Print Design</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="portfolio-item">
                                <img class="img-responsive" src="{% static 'nakr_consulting/images/portfolio/logo_curie.png' %}" alt="Image">
                                <div class="portfolio-overlay">
                                    <div class="portfolio-info">
                                        <a href="images/portfolio/2.jpg' %}><i class="fa fa-camera-retro" aria-hidden="true"></i></a>
                                        <h3>Book Cover</h3>
                                        <p>Print Design</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="portfolio-item">
                                <img class="img-responsive" src="{% static 'nakr_consulting/images/portfolio/logo_rexel.png' %}" alt="Image">
                                <div class="portfolio-overlay">
                                    <div class="portfolio-info">
                                        <a href="images/portfolio/3.jpg' %}><i class="fa fa-camera-retro" aria-hidden="true"></i></a>
                                        <h3>Book Cover</h3>
                                        <p>Print Design</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="portfolio-item">
                                <img class="img-responsive" src="{% static 'nakr_consulting/images/portfolio/logo_diversidees.png' %}" alt="Image">
                                <div class="portfolio-overlay">
                                    <div class="portfolio-info">
                                        <a href="images/portfolio/4.jpg' %}><i class="fa fa-camera-retro" aria-hidden="true"></i></a>
                                        <h3>Book Cover</h3>
                                        <p>Print Design</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="portfolio-item">
                                <img class="img-responsive" src="{% static 'nakr_consulting/images/portfolio/logo_uneo.png' %}" alt="Image">
                                <div class="portfolio-overlay">
                                    <div class="portfolio-info">
                                        <a href="images/portfolio/5.jpg' %}><i class="fa fa-camera-retro" aria-hidden="true"></i></a>
                                        <h3>Book Cover</h3>
                                        <p>Print Design</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="portfolio-item">
                                <img class="img-responsive" src="{% static 'nakr_consulting/images/portfolio/logo_by-agency.png' %}" alt="Image">
                                <div class="portfolio-overlay">
                                    <div class="portfolio-info">
                                        <a href="images/portfolio/6.jpg' %}><i class="fa fa-camera-retro" aria-hidden="true"></i></a>
                                        <h3>Book Cover</h3>
                                        <p>Print Design</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--
                        <div class="col-sm-6">
                            <div class="portfolio-item">
                                <img class="img-responsive" src="{% static 'nakr_consulting/images/portfolio/7.jpg' %}" alt="Image">
                                <div class="portfolio-overlay">
                                    <div class="portfolio-info">
                                        <a href="images/portfolio/7.jpg' %}><i class="fa fa-camera-retro" aria-hidden="true"></i></a>
                                        <h3>Book Cover</h3>
                                        <p>Print Design</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="portfolio-item">
                                <img class="img-responsive" src="{% static 'nakr_consulting/images/portfolio/8.jpg' %}" alt="Image">
                                <div class="portfolio-overlay">
                                    <div class="portfolio-info">
                                        <a href="images/portfolio/8.jpg' %}><i class="fa fa-camera-retro" aria-hidden="true"></i></a>
                                        <h3>Book Cover</h3>
                                        <p>Print Design</p>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div><!-- portfolio content -->
        </div> 
        </div><!-- row -->
    </div><!-- container -->
</div><!-- portfolio section -->