{% load static %}
<div id="skill" class="skill-section bg-color section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="section-content">
                    <div class="section-title">
                        <h1>Nos domaines d'intervention</h1>
                    </div>
                    <div class="text-info">
                        <h4>Un ancrage de NAKR & CO dans le systême de santé</h4>
                        <!--<p></p>-->
                    </div>
                    <div class="progress-content">
                        <div class="rating-bar bar-left">

                            <center><img class="img-responsive" src="{% static 'nakr_consulting/images/skill/rond_prevention-sante.png' %}" width="25%" height="25%" alt="Image"></center>
                            <h4>PREVENTION SANTE</h4>
                            <p>Faire passer de l’intention à l’action !<br>NAKR & CO élabore des stratégies et conçoit des contenus inspirants qui engagent vos publics.<br>
                                <ul>
                                    <li>Elaborer vos stratégies de prévention, globales ou ciblées, sur des populations et/ou territoires à identifier.</li>
                                    <li>Concevoir vos actions de prévention de santé.</li>
                                    <li>Définir et mettre en œuvre vos campagnes et plans de prévention.</li>
                                </ul>
                            </p>
                            <!--
                            <label>Photoshop</label>
                            <span class="rating-count pull-right">90%</span>
                            <div class="skill-progress">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" >
                                    </div>
                                </div>
                            </div>
                            <label>PHP</label>
                            <span class="rating-count pull-right">40%</span>
                            <div class="skill-progress">
                                <div class="progress">
                                    <div class="progress-bar bar1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" >
                                    </div>
                                </div>
                            </div>
                            <label>Html 5 & CSS 3</label>
                            <span class="rating-count pull-right">70%</span>
                            <div class="skill-progress">
                                <div class="progress">
                                    <div class="progress-bar bar2" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" >
                                    </div>
                                </div>
                            </div>
                            -->
                        </div>                                

                        <div class="skill rating-bar bar-right">
                            <center><img class="img-responsive" src="{% static 'nakr_consulting/images/skill/rond_RSE.png' %}" width="25%" height="25%" alt="Image"></center>
                            <h4>SOCIETAL SANTE</h4>
                            <p>Adopter une conscience sociétale !<br>
                            NAKR & CO vous aide à rendre concret votre contribution à l’Objectif de Développement Durable N°3 « santé et bien être ».<br>
                            NAKR & CO vous guide dans l’évolution de la réglementation pour en faire une opportunité d’engagement en faveur de la santé.<br>
                            <ul>
                                <li>Evaluer votre Déclaration Performance Extra- Financière.</li>
                                <li>Proposer les leviers d’amélioration en santé et bien être.</li>
                                <li>Proposer des actions de prévention.</li>
                            </ul>
                            </p>
                            <!--
                            <label>Illustrator</label>
                            <span class="rating-count pull-right">80%</span>
                            <div class="skill-progress">
                                <div class="progress">
                                    <div class="progress-bar bar3" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" >
                                    </div>
                                </div>
                            </div>
                            <label>Joomla</label>
                            <span class="rating-count pull-right">50%</span>
                            <div class="skill-progress">
                                <div class="progress">
                                    <div class="progress-bar bar4" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" >
                                    </div>
                                </div>
                            </div>
                            <label>Wordpress</label>
                            <span class="rating-count pull-right">90%</span>
                            <div class="skill-progress">
                                <div class="progress">
                                    <div class="progress-bar bar5" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" >
                                    </div>
                                </div>
                            </div>
                            -->
                        </div> 
                    </div>                               
                    <!--
                    <div class="language-skill">
                        <div class="text-info">
                            <h4>Language skill</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                        <ul>
                            <li class="chart" data-percent="100">
                                <span class="percent"></span>
                                <h5>German</h5>
                            </li>
                            <li class="chart" data-percent="90">
                                <span class="percent percent1"></span>
                                <h5>Spanish</h5>
                            </li>
                            <li class="chart" data-percent="100">
                                <span class="percent percent2"></span>
                                <h5>English</h5>
                            </li>
                            <li class="chart" data-percent="30">
                                <span class="percent percent3"></span>
                                <h5>Latin</h5>
                            </li>                                    
                        </ul>
                    </div>--><!-- more skill -->                             
                </div>                                             
            </div>
        </div><!-- row -->
    </div><!-- container -->
</div><!-- skill section -->