{% load static %}
<div id="skill" class="skill-section bg-color section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="section-content">
                    <div class="section-title">
                        <h1>Nos domaines d'intervention</h1>
                    </div>
                    <div class="text-info">
                        <h4>Un ancrage de NAKR & CO dans le systême de santé</h4>
                        <!--<p></p>-->
                    </div>
                    <div class="progress-content">
                        <div class="rating-bar bar-left">

                            <center><img class="img-responsive" src="{% static 'nakr_consulting/images/skill/rond_1.png' %}" width="25%" height="25%" alt="Image"></center>
                            <h4>PREVENTION SANTE</h4>
                            <p>NAKR & CO vous conseille dans la définition, la mise en place et le suivi d'une politique de prévention de publics ou territoires spécifiques. Notre équipe vous aide à développer un ensemble de dispositifs et d'actions de communication visant à préserver la santé de vos clients, adhérents et/ou de tous vos publics. 
                            <ul>
                                <li>Elaborer vos Stratégies globales ou ciblées de prévention sur des populations ou territoires à identifier</li>
                                <li>Concevoir vos dispositifs de prévention et/ou promotion de santé ciblés</li>
                                <li>Définir et mettre en œuvre vos campagnes et plans de prévention</li>
                                </ul>
                            </p>
                            <!--
                            <label>Photoshop</label>
                            <span class="rating-count pull-right">90%</span>
                            <div class="skill-progress">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" >
                                    </div>
                                </div>
                            </div>
                            <label>PHP</label>
                            <span class="rating-count pull-right">40%</span>
                            <div class="skill-progress">
                                <div class="progress">
                                    <div class="progress-bar bar1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" >
                                    </div>
                                </div>
                            </div>
                            <label>Html 5 & CSS 3</label>
                            <span class="rating-count pull-right">70%</span>
                            <div class="skill-progress">
                                <div class="progress">
                                    <div class="progress-bar bar2" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" >
                                    </div>
                                </div>
                            </div>
                            -->
                        </div>                                

                        <div class="skill rating-bar bar-right">
                            <center><img class="img-responsive" src="{% static 'nakr_consulting/images/skill/rond_3.png' %}" width="25%" height="25%" alt="Image"></center>
                            <h4>SERVICES INNOVANTS</h4>
                            <p>A l'affût des nouvelles tendances, innovations, NAKR & CO s'autorise pour vous, à sentir, écouter, rencontrer, pour vous apporter de nouveaux points de vues, nos plus belles rencontres, vous présenter de nouveaux talents...
                            Nous assurons également une veille régulière des innovations et productions de connaissance qui nous permet de concevoir avec vous les nouveaux produits et services de demain.
                            <ul>
                                <li>E-santé</li>
                                <li>Télésanté</li>
                                <li>Patient Empowerment</li>
                            </ul>
                            </p>
                            <!--
                            <label>Illustrator</label>
                            <span class="rating-count pull-right">80%</span>
                            <div class="skill-progress">
                                <div class="progress">
                                    <div class="progress-bar bar3" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" >
                                    </div>
                                </div>
                            </div>
                            <label>Joomla</label>
                            <span class="rating-count pull-right">50%</span>
                            <div class="skill-progress">
                                <div class="progress">
                                    <div class="progress-bar bar4" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" >
                                    </div>
                                </div>
                            </div>
                            <label>Wordpress</label>
                            <span class="rating-count pull-right">90%</span>
                            <div class="skill-progress">
                                <div class="progress">
                                    <div class="progress-bar bar5" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" >
                                    </div>
                                </div>
                            </div>
                            -->
                        </div> 
                    </div>                               
                    <!--
                    <div class="language-skill">
                        <div class="text-info">
                            <h4>Language skill</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                        <ul>
                            <li class="chart" data-percent="100">
                                <span class="percent"></span>
                                <h5>German</h5>
                            </li>
                            <li class="chart" data-percent="90">
                                <span class="percent percent1"></span>
                                <h5>Spanish</h5>
                            </li>
                            <li class="chart" data-percent="100">
                                <span class="percent percent2"></span>
                                <h5>English</h5>
                            </li>
                            <li class="chart" data-percent="30">
                                <span class="percent percent3"></span>
                                <h5>Latin</h5>
                            </li>                                    
                        </ul>
                    </div>--><!-- more skill -->                             
                </div>                                             
            </div>
        </div><!-- row -->
    </div><!-- container -->
</div><!-- skill section -->